.cont{
    -webkit-box-shadow: 0px 0px 51px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 51px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 51px -19px rgba(0,0,0,0.75);
    width:65vw;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0 5vw;
    height:100vh;

    img{
        display: block;
        width: 30%;
        margin: 0 auto;
    }

}