$red: #ff4d5d;



    h2{
        background-color:$red;
        text-align: center;
        padding:20px;
        color: #FFFFFF;
        width: 50%;
        border-radius: 10000px;
        margin: 30px auto;
        &:hover{
            background-color: darken($red,30%);
        }
    }
    h3{
        text-align: center;
    }
